body {
  background-color: #ffffff;
  font-family: "NexaBold", sans-serif;

  font-display: swap;
}
@font-face {
  font-family: "NexaBold";
  src: url("Fonts/Poppins-Medium.otf");

  font-weight: 500;
  font-style: bold;
}

.custom-bg-indigo {
  background-color: #ffffff; /* This is the hex code for indigo */
}

.all-buttons-color {
  background-color: #002a5c;
  /* border-radius: 10px;  */
}

.all-add-buttons {
  background-color: #f46223;
  font-size: 15px;
}

.hover-effect :hover {
  background-color: #002a5c;
  color: "white";
}

.navbar-nav .nav-item:hover {
  border-bottom: 3px solid #002a5c;
}

.text-custom {
  border-color: #f46223 !important;
}

.table-hover tr:hover {
  background-color: #ffa500; /* Orange color */
}

.table-head-color {
  background-color: #002a5c;
}


.start-end-buttons:hover {
  background-color: #002a5c;
  cursor: pointer; 
}

